// Theme's Palette
@import("F:/lakei/Vue/lakeiedward's/node_modules/vuepress-theme-vdoing/styles/palette.styl")

// User's Palette
@import("F:/lakei/Vue/lakeiedward's/docs/.vuepress/styles/palette.styl")