// Theme's Palette
@import("C:/Users/Administrator/Desktop/boke/boke/node_modules/vuepress-theme-vdoing/styles/palette.styl")

// User's Palette
@import("C:/Users/Administrator/Desktop/boke/boke/docs/.vuepress/styles/palette.styl")